* {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: 'Open Sans', sans-serif;
	color: #67645C;
	text-align: center;
}
.test {
	font-size: 50px;
}
#header_container {
	background-color: #D2D3C5;
	height: 48px;
}
ul#header {
	display: inline-block;
	list-style-type: none;
}
ul#header > li {
	float: left;
	font-size: 28px;
	padding: 5px 10px 5px 10px;
}
ul#header > #current {
	background-color: #996600;
	color: white;
}
ul#header > li:hover {
	background-color: #996600;
	color: white;
}
.body_div {
	height: 350px;
}
.body_div > p {
	color: white;
}
#body1 {
	background-color: #996600;
}
#body1 > p {
	padding-top: 10px;
}
#body2 {
	background-color: #992900;
}
#body2 > p {
	padding-top: 40px;
}
#body2 > img {
	padding-top: 20px;
}
#body3 {
	background-color: #CBA44F;
}
#body4 {
	background-color: #996600;
}
#body5 {
	background-color: #992900;
}